.section__title {
  .recipe-info {
    width: 1.5rem;
    height: 1.5rem;
  }
  hr {
    width: 100px;
    height: 4px;
    background: linear-gradient(to right, $primary 0%,$primary 50%, $danger 50%,$danger 100%);
  }
}
