blockquote {
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
  @include media-breakpoint-up(md) {
    margin-left: 0;
    margin-right: 0;
  }
  @include media-breakpoint-up(lg) {
    margin-left: 55px;
    margin-right: 55px;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
  }
  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 23px;
    height: 18px;
    background-size: contain;
    background-repeat: no-repeat;
    @include media-breakpoint-up(lg) {
      width: 29px;
      height: 24px;
    }
  }
  &::before {
    top: 0;
    left: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='29' height='24' viewBox='0 0 29 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.66 1.23598C9.932 2.81997 8.588 4.59597 7.628 6.56397C6.668 8.48398 6.188 10.116 6.188 11.46C6.62 11.172 7.244 11.028 8.06 11.028C9.644 11.028 10.94 11.604 11.948 12.756C13.004 13.86 13.532 15.276 13.532 17.004C13.532 18.876 12.932 20.412 11.732 21.612C10.532 22.764 8.972 23.34 7.052 23.34C5.036 23.34 3.428 22.716 2.228 21.468C1.076 20.172 0.5 18.612 0.5 16.788C0.5 13.668 1.1 10.764 2.3 8.07598C3.5 5.33998 5.108 3.15597 7.124 1.52398C7.796 0.947974 8.66 0.659973 9.716 0.659973C10.484 0.659973 11.132 0.851974 11.66 1.23598ZM26.636 1.23598C24.908 2.81997 23.564 4.59597 22.604 6.56397C21.644 8.48398 21.164 10.116 21.164 11.46C21.596 11.172 22.22 11.028 23.036 11.028C24.62 11.028 25.94 11.604 26.996 12.756C28.052 13.86 28.58 15.276 28.58 17.004C28.58 18.876 27.956 20.412 26.708 21.612C25.508 22.764 23.972 23.34 22.1 23.34C20.084 23.34 18.476 22.716 17.276 21.468C16.076 20.172 15.476 18.612 15.476 16.788C15.476 13.668 16.076 10.764 17.276 8.07598C18.524 5.38797 20.156 3.20397 22.172 1.52398C22.844 0.947974 23.708 0.659973 24.764 0.659973C25.532 0.659973 26.156 0.851974 26.636 1.23598Z' fill='black'/%3E%3C/svg%3E");
  }
  &::after {
    bottom: 0;
    right: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='29' height='24' viewBox='0 0 29 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.79192 22.836C4.51992 21.252 5.86392 19.476 6.82392 17.508C7.78392 15.54 8.26392 13.908 8.26392 12.612C7.78392 12.852 7.15992 12.972 6.39192 12.972C4.80792 12.972 3.48792 12.42 2.43192 11.316C1.42392 10.212 0.919922 8.772 0.919922 6.996C0.919922 5.172 1.51992 3.684 2.71992 2.532C3.91992 1.332 5.45592 0.731995 7.32792 0.731995C9.34392 0.731995 10.9519 1.37999 12.1519 2.67599C13.3519 3.924 13.9519 5.436 13.9519 7.212C13.9519 10.332 13.3279 13.26 12.0799 15.996C10.8799 18.684 9.29592 20.868 7.32792 22.548C6.75192 23.076 5.88792 23.34 4.73592 23.34C3.91992 23.34 3.27192 23.172 2.79192 22.836ZM17.7679 22.836C19.4959 21.252 20.8399 19.476 21.7999 17.508C22.7599 15.54 23.2399 13.908 23.2399 12.612C22.7599 12.852 22.1359 12.972 21.3679 12.972C19.8319 12.972 18.5359 12.42 17.4799 11.316C16.4239 10.212 15.8959 8.772 15.8959 6.996C15.8959 5.172 16.4959 3.684 17.6959 2.532C18.9439 1.332 20.5039 0.731995 22.3759 0.731995C24.3919 0.731995 25.9999 1.37999 27.1999 2.67599C28.3999 3.924 28.9999 5.436 28.9999 7.212C28.9999 10.332 28.3759 13.26 27.1279 15.996C25.9279 18.732 24.3199 20.916 22.3039 22.548C21.7279 23.076 20.8639 23.34 19.7119 23.34C18.8959 23.34 18.2479 23.172 17.7679 22.836Z' fill='black'/%3E%3C/svg%3E%0A");
  }
}
